<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
    <link href="item.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="addContainer">
        <form class="add_box" method="post" action="add" enctype="multipart/form-data">
            <label for="itemtype">타입</label>
            <input id="itemtype" name="itemtype" type="text">
            <label for="uploadImg">이미지</label>
            <input id="uploadImg" name="uploadImg" type="file" accept="image/*">
            <label for="itemName">제품명</label>
            <input id="itemName" name="itemName" type="text">
            <label for="value">가격</label>
            <input id="value" name="value" type="number">
            <label for="size">사이즈</label>
            <input id="size" name="size" type="text">
            <label for="color">색깔</label>
            <input id="color" name="color" type="text">
            <input type="submit" class="addsubmit" value="제출"></input>
        </form>
    </div>
</body>

</html>